@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0b3c05;
  /* dark forest green */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* white */
  text-align: center;
}

h1,
label {
  color: #ffffff;
  /* white */
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#timer {
  font-size: 60px;
  color: #ffffff;
  /* white */
}

button {
  background-color: #ffffff;
  /* white */
  border: none;
  color: #0b3c05;
  /* dark forest green */
  padding: 10px 20px;
  /* adjust this value as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  /* adjust this value as needed */
}

input {
  background-color: #ffffff;
  /* white */
  border: none;
  color: #0b3c05;
  /* dark forest green */
  padding: 10px 20px;
  /* adjust this value as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50px;
  /* adjust this value as needed */
}

.alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #39a59c;
  color: #ffffff;
  font-size: 30px;
  z-index: 1000;
}